
   <h1>welcome to Bookers!!</h1><br />
   <p>in Bookers,<p><br />
   <p>you can share and enchange your opinios,inpressions,and emotions</p><br />
   <p>about various books!</><br />

  <%= link_to "Log in", new_user_session_path %><br />
  <%= link_to "sign up", new_user_registration_path %>


